html
  head
    meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
    css:
      .recommends {
        clear: both;
      }

      .recommends ul {
        list-style: none;
      }

      .recommends li {
        float: left;
        margin-right: 20px;
        margin-bottom: 16px;
        width: 120px;
      }

      .recommends li a, .recommends li a:visited{
        color: #000;
        zoom: 1;
        font-size: 12px;
        text-align: center;
        text-decoration: none;                
      }

      .recommends li a:hover {
        text-decoration: underline;
        color: #1a9850;
      }

      .recommends li a .thumbnail {
        margin-bottom: 5px;
      }

      .recommends li a span {
        display: block;
        height: 20px;
      }

      .thumbnail img {
        height: 90px;
        width: 120px;      
      }

  body
    .recommends
      ul
        - @recommends.each do |joke|
          li
            a href="#{joke_path(joke)}" title="#{joke.picture_alt}"
              .thumbnail
                img src="#{joke.picture.thumb.url}" alt="#{joke.picture_alt}"
              span= (joke.title.presence || joke.content).truncate(8, omission: '')