<style type="text/css">

  .modal-dialog {
    width: 400px;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-body {
    padding-top: 0px;
  }

  .mailInput input.rsstxt {
    height: 30px;
  }

  .mailInput .rssbutton {
    margin-top: 10px;
  }

  .mailInput .rssbutton input {
    height: 28px;
  }

  #qq-feed {
    top: 20%;
  }
</style>

<div id="qq-feed" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4></h4>
      </div>
      <div class="modal-body">
        <!--QQ邮件列表订阅嵌入代码-->
        <script >
          var nId = "1e578b0ed651e457cc02a916e9e592ebb91875a754ef6ddd",nWidth="auto",sColor="light",sText="填写您的邮件地址，订阅我们的精彩内容：" ;;
        </script>
        <script src="http://list.qq.com/zh_CN/htmledition/js/qf/page/qfcode.js" charset="gb18030"></script>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

