/*
 *= require font-awesome
*/

$brand-primary: #F19670;
// $brand-primary: #32BC78;

@import "bootstrap";
@import "bootstrap_customize";
@import "nprogress";
@import "jokes";
@import "users";

@each $margin in 2, 5, 10, 15, 20, 25, 30, 50 {
  .ml-#{$margin} { margin-left: #{$margin}px; }
  .mr-#{$margin} { margin-right: #{$margin}px; }
  .mt-#{$margin} { margin-top: #{$margin}px; }
  .mb-#{$margin} { margin-bottom: #{$margin}px; }
}

i.fa.fa-plus { font-size: 18px; font-weight: normal; }
.main {
  margin-top: 70px;
  em { background-color: #FFF681; }
  i.fa-weibo { color: #E6162D; }
  i.fa-weixin { color: #87AA39; }
  i.fa-renren { color: #105BA3; }
  i.fa-qq { color: #008AC5; }
}

.main > .container {
  > .row {
    width: 90%;
    margin: 0 auto;
  }

  // .jokes .list-group-item.detail {
  //   margin-bottom: 0px;
  //   border-radius: 4px 4px 0px 0px;
  //   border-bottom: 1px solid #DDD;
  // }

  @media (max-width: $grid-float-breakpoint) {
    padding-left: 0;
    padding-right: 0;

    > .row {
      width: 100%;
      margin: 0 auto;

      .col-md-6, .col-md-8, .panel {
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;    
      }

      .col-md-8 .list-group-item {
        border-radius: 0;
      }
      .tips { display: none; }
      .recent { display: none; }       
    }

    .baoxiao-pagination {
      text-align: center;
    }

    .baoxiao-pagination > .pagination li {
      display: none;
      &.active, &.prev, &.next {
        display: inline;
      }
    }
  }
}

