/*
 *= require font-awesome
*/

$brand-primary: #F19670;
// $brand-primary: #32BC78;

@import "bootstrap";
@import "bootstrap_customize";
@import "nprogress";
@import "jokes";
@import "users";
@import "tags";
@import "settings";

@each $margin in 2, 5, 10, 15, 20, 25, 30, 50 {
  .ml-#{$margin} { margin-left: #{$margin}px; }
  .mr-#{$margin} { margin-right: #{$margin}px; }
  .mt-#{$margin} { margin-top: #{$margin}px; }
  .mb-#{$margin} { margin-bottom: #{$margin}px; }
}

i.fa.fa-plus { font-size: 18px; font-weight: normal; }

.site-top {
  position: relative;
  width: 100%;
  height: 193px;
  background: transparent image-url('top_repeat.png') repeat-x;
  z-index: 2;
  margin-bottom: -14px;

  @media (max-width: $grid-float-breakpoint) {
    display: none;
  }

  .big-ad {
    width: 100%;
    height: 193px;
    background-image: image-url('big_ad.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain; 
  }

  a.feed {
    position: absolute;
    top: 0px;
    right: 34%;
    border-radius: 0px 0px 4px 4px;
    border-left: 2px dashed #FFF;
    border-right: 2px dashed #FFF;
    border-bottom: 2px dashed #FFF;
  }
}

.main {
  margin-top: 20px;
  min-height: 452px;

  em { background-color: #FFF681; }
  i.fa-weibo { color: #E6162D; }
  i.fa-weixin { color: #87AA39; }
  i.fa-renren { color: #105BA3; }
  i.fa-qq { color: #008AC5; }

  .panel.siteAd .panel-body {
    padding: 5px 6px 1px 6px;
  }

  .group-ads.fixed {
    top: 48px;
    position: fixed;
  }
}

.main > .container {
  > .row {
    width: 90%;
    margin: 0 auto;
    .friend-sites { display: none; }
    .friend-sites .panel-heading {
      color: $brand-primary;
    }
    .friend-sites .panel-body ul { margin-bottom: 0px; }
  }

  @media (max-width: $grid-float-breakpoint) {
    padding-left: 0;
    padding-right: 0;

    > .row {
      width: 100%;
      margin: 0 auto;

      .col-md-6, .col-md-8, .panel {
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;    
      }

      .col-md-8 .list-group-item {
        border-radius: 0;
      }
      .tips, .recent, .friend-sites { display: none; }
    }

    .baoxiao-pagination {
      text-align: center;
    }

    .baoxiao-pagination > .pagination li {
      display: none;
      &.active, &.prev, &.next {
        display: inline;
      }
    }
  }
}


body.index-index .main > .container > .row .friend-sites { display: block; }

.footer {
  background-color: #3A3129;
  & {
    color: #615A42;
    font-size: 12px;    
  }

  a {
    color: #9D9894;
    font-size: 14px; 
  }

  > .container > .row {
    padding: 20px 0px 10px 0px;
    width: 90%;
    margin: 0 auto;
  }

  ul {
    margin-bottom: 0px;
  }

  .copyright ul li {
    float: right;
    margin-left: 10px;
  }

  @media (max-width: $grid-float-breakpoint) {
    .copyright ul li {
      float: left;
      margin-top: 5px;
      margin-left: 0;
      margin-right: 10px;
    }

  }
}

a.scrollToTop {
  width: 37px; 
  height: 63px;
  text-decoration: none;
  position: fixed;
  bottom: 50px;
  right: 10px;
  background: image-url('scroll_to_top.png') no-repeat;
  display: none;
  &:hover {
    opacity: 0.6;
  }  
}

