.jokes {
  .list-group-item {
    padding: 10px 15px 0px 15px;
  }

  .list-group-item-user {
    font-size: 12px;
    color: #999;
    img {
      width: 24px; 
      height: 24px; 
      border-radius: 12px;
    }
  }

  .list-group-title .pull-right {
    font-size: 12px;
    color: #777;
  }  

  .list-group-item-text {
    .thumb img {
      max-width: 100%;
    }

    @media (max-width: $grid-float-breakpoint) {
      .thumb { text-align: center; }
    }
  }

  .status > .tags {
    float: left;
    margin-right: 10px;
    margin-top: 5px;

    i.fa.fa-tags {
      color: $brand-primary;
    }

    > a {
      font-size: 12px;
      margin-left: 5px;
    }

    @media (max-width: $grid-float-breakpoint) {
      display: none;
    }     
  }

  .status ul.counts li {
    float: left; 
    > a { 
      font-size: 18px; 
      &.voteJoke.disabled {
        color: #777;
        opacity: 0.5;        
      }
    }
    span.bds_more i.fa.fa-share-square-o {
      color: $brand-primary;
      font-size: 18px;
    }    
  }

  .pagebar {
    background-color: #FFF;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -20px;
    border-top: 1px solid #DDD;
    // z-index: 9999;
  }

  .tips {
    font-size: 12px;
    color: #999;
    margin-top: -45px;
    padding-bottom: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;

    span {
      float: left;
      line-height: 22px;
    }

    span.key {
      width: 22px;
      height: 22px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-image: image-url('keyboard.png');
    }

    span.key.key-left {
      background-position: 0 0;
    }
    span.key.key-right {
      background-position: 0 -22px;
    }    
  }
}

.panel.search {
  ul {
    margin-left: -5px;
  }
  
  ul li {
    float: left;
    margin-left: 5px;
  }
}

.panel.hot li .pull-right {
  color: #999;
  font-size: 12px;
}

// .panel.recommad {
//   @media (max-width: $grid-float-breakpoint) {
//     .panel-body {
//       text-align: center;
//     } 
//   }
// }

.comments {
  .panel-heading { color: $brand-primary; }
  .panel-body { padding: 0; }
  .panel-body .list-group { margin-bottom: 0; }
  .panel-footer { border-top: none; }

  .list-group-item {
    border-bottom: 1px solid #DDD;
    border-radius: 0;
    margin-bottom: 0px;
    padding: 15px 15px;

    .list-group-item-avatar img {
      width: 32px;
      height: 32px;
      border-radius: 16px;
    }

    .list-group-item-content {
      width: 80%;
    }

    .list-group-item-report {
      font-size: 20px;
      padding-top: 10px;
      color: #e5e5e5;
    }
  }
}

ul.joke-pictures {
  li { 
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  li a { font-size: 12px; }

  li a img { 
    width: 120px;
    height: 90px;
  }

  li a > span {
    display: block;
    margin-top: 2px;
  }
}

.baoxiao-pagination {
  margin-bottom: 20px;
  > .pagination {
    margin: 0;
  }
}

ul.tag.nav li {
  a { 
    &, &:hover { 
      background-color: #FFF; 
      color: $brand-primary;
      border-left: 4px solid $brand-primary;
    }
  }

  @media (max-width: $grid-float-breakpoint) {
    width: 100%;
    text-align: center;
    a {
      border-top: 4px solid $brand-primary;
      border-left: none; 
    }
  }  
}

.tag-cloud {
  text-align: center;
  
  .tag {
    padding: 5px 10px;
    background-color: #DDD;
    color: #FFF;
    display: inline-block;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 10px;
  }

  .tag2 {
    font-size: 12px;
    background-color: lighten($brand-info, 20%);
  }

  .tag3 {
    font-size: 14px;
    background-color: $brand-info;
  }

  .tag4 {
    font-size: 16px;
    background-color: $brand-success;
  }  

  .tag5 {
    font-size: 18px;
    background-color: $brand-warning;
  }

  .tag6 {
    font-size: 20px;
    background-color: $brand-primary;
  }    

  .tag7 {
    font-size: 22px;
    background-color: $brand-danger;
  }    
}