.tags-index .row .panel {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0 0;

  .panel-body {
    padding: 0 0;
  }
}


.tag-cloud {
  text-align: center;
  
  .tag {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
  }   
}